<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hugai.modules.system.mapper.SysUserRoleMapper">

    <resultMap type="com.hugai.common.modules.entity.system.model.SysUserRoleModel" id="baseMap">
            <result property="id" column="id"/>
            <result property="createTime" column="create_time"/>
            <result property="createOper" column="create_oper"/>
            <result property="updateTime" column="update_time"/>
            <result property="updateOper" column="update_oper"/>
            <result property="delFlag" column="del_flag"/>
            <result property="version" column="version"/>
            <result property="userId" column="user_id"/>
            <result property="roleId" column="role_id"/>
        </resultMap>

    <select id="selectRolesByUserName" resultType="com.hugai.common.modules.entity.system.model.SysRoleModel">
        select
            sr.*
        from sys_role sr
        inner join sys_user_role sur on sur.role_id = sr.id
        inner join sys_user su on su.id = sur.user_id
        where su.user_name = #{userName}
    </select>

</mapper>