<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hugai.modules.system.mapper.SysPermissionMapper">

    <resultMap type="com.hugai.modules.system.entity.model.SysPermissionModel" id="baseMap">
            <result property="id" column="id"/>
            <result property="createTime" column="create_time"/>
            <result property="createOper" column="create_oper"/>
            <result property="updateTime" column="update_time"/>
            <result property="updateOper" column="update_oper"/>
            <result property="delFlag" column="del_flag"/>
            <result property="parentId" column="parent_id"/>
            <result property="title" column="title"/>
            <result property="routePath" column="route_path"/>
            <result property="permissionTag" column="permission_tag"/>
            <result property="requestMethod" column="request_method"/>
        </resultMap>

    <select id="selectListByUserId" resultType="com.hugai.modules.system.entity.model.SysPermissionModel">
        select
            a.*
        from sys_permission a
        where a.if_route = 1
        and exists(
            select 1 from sys_role_permission t1
            left join sys_user_role t2 on t2.role_id = t1.role_id
            where t2.user_id = #{userId}
            and a.id = t1.permission_id
        )
    </select>

    <select id="selectPermissionByRoleKey" resultType="java.lang.String">
        SELECT
            a.permission_tag
        FROM
            sys_permission a
        WHERE
            a.if_route = 1
          AND EXISTS (
                SELECT
                    1
                FROM
                    sys_role_permission srp
                        inner JOIN sys_role sr ON sr.id = srp.role_id
                WHERE
                    a.id = srp.permission_id
                  AND sr.role_key = #{roleKey}
            )
    </select>

</mapper>